.subtle {
	color: var(--subtle-color);
}

.social-icons svg {
	color: #de6262;
}

.social-icons svg:hover {
	color: #e89494;
}

.location-icon {
	vertical-align: top;
	margin-right: 0.25rem;
	color: var(--text-color);
}

#erfaring-heading {
	margin-top: 2rem;
}
