---
import Sidebar from '../components/Sidebar.astro';
import Layout from '../layouts/Layout.astro';
import Erfaring from '../components/Erfaring.astro';
import Utdanning from '../components/Utdanning.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container">
		<aside class="sidebar">
			<Sidebar />
		</aside>
		<main class="content">
			<Erfaring />
			<Utdanning />
		</main>
	</div>
</Layout>

<style>
	.container {
		display: grid;
		grid-template-columns: 350px 1fr;
		grid-template-areas: 'sidebar content';
		max-width: 1200px;
		margin: 0 auto;
		min-height: 100vh;
		gap: 3rem;
		padding-top: 3rem;
	}

	.sidebar {
		grid-area: sidebar;
		box-sizing: border-box;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 350px;
		padding: 3rem 2rem;
		overflow-y: auto;
	}

	.content {
		grid-area: content;
		box-sizing: border-box;
		padding: 2rem;
	}

	.content > * {
		margin-bottom: 4rem;
	}

	.content > *:last-child {
		margin-bottom: 0;
	}

	@media (max-width: 900px) {
		.container {
			grid-template-columns: 1fr;
			grid-template-areas:
				'sidebar'
				'content';
			padding-top: 1rem;
			gap: 1rem;
		}

		.sidebar {
			position: static;
			height: auto;
			width: 100%;
			padding: 1rem 3rem;
		}

		.content {
			padding: 1rem 3rem;
		}
	}

	@media (min-width: 769px) {
		.sidebar {
			left: max(2rem, calc(50% - 600px));
		}
	}

	@media (min-width: 769px) and (max-width: 1240px) {
		.sidebar {
			left: 2rem;
		}
	}
</style>
