---
import '../styles/main.css';
---

<div>
	<h2>Om meg</h2>
	<p class="subtle">
		Effektiv og lærevillig jente på 19 år med jobb som lærling i
		IT-utviklerfaget hos Nav IT i Oslo. Liker å spille dataspill, programmere og
		hjelpe andre. Jeg syntes alltid det er gøy når noen i familien spør meg om
		hjelp med tekniske problemer.
	</p>
</div>
