---
import '../styles/main.css';
---

<section aria-labelledby="om-meg-heading">
	<h2 id="om-meg-heading">Om meg</h2>
	<p class="subtle">
		Effektiv og lærevillig jente på 19 år med jobb som lærling i
		IT-utviklerfaget hos Nav IT i Oslo.
	</p>
</section>
