---
import Icon from './icons/Icon.astro';
---

<div>
	<Icon name="profile-square" width={200} height={200} class="profile-square" />
	<h1 class="name">Sandra Elise Eng</h1>
	<p class="subtle title">Lærling i IT-utvikling</p>

	<p>🌎 Oslo, Norge</p>
	<div class="social-icons">
		<a href="mailto:sandra.eng@live.no" title="Send meg en e-post"
			><Icon name="mail" width={24} height={24} class="mail" /></a
		>
		<a
			href="https://www.linkedin.com/in/sandra-elise-eng/"
			target="_blank"
			title="Besøk min LinkedIn-profil"
			><Icon name="linkedin" width={24} height={24} class="linkedin" /></a
		>
		<a
			href="https://github.com/Zandra7"
			target="_blank"
			title="Se mine prosjekter på GitHub"
			><Icon name="github" width={24} height={24} class="github" /></a
		>
	</div>
</div>

<style>
	h1 {
		margin-bottom: 0;
	}

	.title {
		margin-top: 0.25rem;
		margin-bottom: 1.5rem;
	}

	.social-icons {
		display: flex;
		justify-content: left;
		gap: 0.75rem;
	}
</style>
