---
import '../styles/main.css';
import { jobber } from '../data/erfaring';

const alleTeknologier = jobber.flatMap((jobb) => jobb.teknologier);
const unikeTeknologier = [...new Set(alleTeknologier)].sort();
---

<div>
	<h2>Teknologier</h2>
	<ul class="teknologier">
		{
			unikeTeknologier.map((teknologi) => (
				<li class="teknologi"># {teknologi}</li>
			))
		}
	</ul>
</div>
