.vis-mer-container {
	margin-top: 1rem;
}

/* Når perioden er til venstre av timelinen (store skjermer) */
@media (min-width: 1101px) {
	.erfaring-container .vis-mer-container,
	.utdanning-container .vis-mer-container {
		margin-left: 173.5px;
	}

	.erfaring-container .vis-mer-knapp,
	.utdanning-container .vis-mer-knapp {
		padding: 0;
	}
}

.vis-mer-knapp {
	color: #de6262;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 16px;
}

.pil-ikon {
	transition: transform 0.3s ease;
	flex-shrink: 0;
}

.pil-ikon.rotert {
	transform: rotate(180deg);
}
